@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts//Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Montserrat ExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
    font-weight: 800;
  }
  @font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Open Sans SemiBold";
    src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto ExtraBold";
    src: url("../fonts/Roboto/Roboto-BoldCondensed.ttf");
  }
  @font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 600;
  }
  
  $Roboto-Bold: "Roboto Bold";
  $Roboto-ExtraBold: "Roboto ExtraBold";
  $Roboto-Medium: "Roboto Medium";
  $Montserrat-Bold: "Montserrat Bold";
  $Montserrat-ExtraBold: "Montserrat ExtraBold";
  $Montserrat-SemiBold: "Montserrat SemiBold";
  $Roboto-Regular: "Roboto Regular";
  $OpenSans-Bold: "Open Sans Bold";
  $OpenSans-SemiBold: "Open Sans SemiBold";
  $OpenSans-Regular: "Open Sans Regular";
  $Poppins-Regular: "Poppins Regular";
  $golden-color: #d6a15e;
  $white-color: #fff;
  $midgrey-color: #c5c5c5;
  $black-color: #131921;
  $darkgrey-color: #232f3d;
  $darkgrey2-color: #828282;
  $darkergrey-color: #4b4b4b;
  $lightgrey-color: #e0e0e0;
  $lightgrey2-color: #f2f2f2;
  $lightgrey3-color: #f4f4f4f4;
  $grey2-color: #4f4f4f;
  $grey-color: #a6a6a6;
  $grey3-color: #bdbdbd;
  $grey4-color: #6c6c6c;
  $light-turkish: #32c5b3;
  $turkish-color: #30aeba;
  $red-color: #e70012;
  $dark-blue: #2f285a;
  $font-size6: 6px;
  $font-size7: 7px;
  $font-size8: 8px;
  $font-size10: 10px;
  $font-size12: 12px;
  $font-size13: 13px;
  $font-size14: 14px;
  $font-size15: 15px;
  $font-size16: 16px;
  $font-size17: 17px;
  $font-size18: 18px;
  $font-size20: 20px;
  $font-size22: 22px;
  $font-size23: 23px;
  $font-size30: 30px;
  $font-size32: 32px;
  $font-size24: 24px;
  $font-size40: 40px;
  $font-size48: 48px;


.selectLanguage {
    &-cont {
      padding-top: 20px;
      // height: 290px;
  
      &-select {
        padding-bottom: 10px;
        font-family: $OpenSans-Regular;
        color: $golden-color;
        font-size: $font-size16;
      }
      &-dropdown {
        .ui.fluid.dropdown {
          border-color: #d6a15e !important;
          border-width: 1px !important;
          height: 46px !important;
          font-family: $Roboto-Regular !important;
          font-size: $font-size16 !important;
          border-radius: 4px !important;
        }
        .ui.selection.dropdown {
          color: #d6a15e !important;
          background: transparent !important;
        }
  
        .fluid-dropdown {
          background-color: #d6a15e;
          .divider {
            color: #d6a15e !important;
          }
        }
        .ui.selection.active.dropdown .menu {
          border-color: #d6a15e !important;
          margin-top: 20px !important;
          border: 1px solid !important;
          background: transparent !important;
        }
        .ui.dropdown .menu > .item {
          color: #d6a15e !important;
        }
        .ui.selection.dropdown .menu > .item {
          border-top: none !important;
        }
  
        .visible {
          &-item:hover {
            background-color: #10baca !important;
          }
        }
        .ui.selection.dropdown .menu > .item:hover {
          background-color: #d6a15e !important;
          color: white !important;
        }
  
        .ui.selection.active.dropdown {
          margin-bottom: 200px;
        }
  
        .ui.search.dropdown .menu::-webkit-scrollbar-thumb {
          background: $golden-color;
        }
        .ui.active.search.dropdown input.search:focus + .text {
          color: $golden-color !important;
        }
        .ui.selection.dropdown.active,
        .ui.selection.dropdown.visible {
          z-index: 0;
        }
      }
    }
  }


  .div-cont {
  background: radial-gradient(
      58.37% 58.37% at 50% 0%,
      rgba(11, 90, 98, 0.9) 0%,
      rgba(7, 67, 75, 0) 100%
    ),
    #000b0c;
  flex: 1;

  &-row1 {
    margin-top: 142px;
    padding-bottom: 50px;
    display: grid;
    justify-content: center;

    &-logo {
      width: 100%;
      height: 100%;
    }
    &-sign {
      padding: 20px 0;
      font-family: $Montserrat-SemiBold;
      font-size: $font-size24;
      color: $golden-color;
    }
  }

  &-row3 {
    margin-bottom: 150px;
    margin-top: 20px;
    &-text {
      font-family: $OpenSans-SemiBold;
      color: $golden-color;
      font-size: $font-size14;
      margin-bottom: 10px;
      div {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.auth-golden-button {
    // height: 48px;
    border-radius: 6px;
    background-color: $golden-color;
    color: $white-color;
    width: 100%;
    border: none;
    margin: 12px 0;
    font-family: $Roboto-Bold;
    font-size: $font-size16;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $golden-color;
      color: $lightgrey-color;
      cursor: pointer;
    }
  }


  

  .auth-golden-button {
    // height: 48px;
    border-radius: 6px;
    background-color: $golden-color;
    color: $white-color;
    width: 100%;
    border: none;
    margin: 12px 0;
    font-family: $Roboto-Bold;
    font-size: $font-size16;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $golden-color;
      color: $lightgrey-color;
      cursor: pointer;
    }
  }


  .div-cont-row1-sign{
    padding: 20px 0;
      font-family: $Montserrat-SemiBold;
      font-size: $font-size24;
      color: $golden-color;
  }

  .selectLanguage-cont-select-text{
    padding-top: 17px;
    font-family: $OpenSans-Regular;
    color: $golden-color;
    font-size: $font-size16;
  }

  .div-cont-row3-text1{
    font-family: $OpenSans-SemiBold;
      color: $golden-color;
      font-size: $font-size14;
    //   margin-bottom: 10px;
  }