@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts//Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
  }
.leader-board-inner {
  background: radial-gradient(
      58.37% 58.37% at 50% 0%,
      rgba(11, 90, 98, 0.9) 0%,
      rgba(7, 67, 75, 0) 100%
    ),
    #000b0c;

  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background: radial-gradient(58.37% 58.37% at 50% 0%, rgba(11, 90, 98, 0.9) 0%, rgba(7, 67, 75, 0) 100%), url("../images/PlayerScreen/LeaderBoardBackgroundLogo.svg" ) no-repeat center center; */
}

.leader-board-center-background {
  z-index: 100000;
}

.leader-board-inner-border {
  border: 1.5px solid #d6a15e;
  border-radius: 20px;
 
  height: 29%;
  display: flex;
  align-items: center;
}
.leader-heading {
  font-family: "Montserrat Bold";
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #d6a15e;
}

/* .leader-board-inner-border::after{
        content: ' ';
        display: block;
        position: absolute;
        width: 340px;
        height: 340px;
        opacity: 0.3;
        left: 33.8%;
        top: -3%;
        transform: translate(0%, 0%);
        background-image: url('../images/PlayerScreen/LeaderBoardBackgroundLogo.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 340px;
    } */

.leader-background img {
  opacity: 0.3;
}

.leader-board-host-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;

  /* border: 2px solid #75D149; */
}


.leader-board-tail-circle-right {
  position: relative;
  /* padding: 10px; */
  /* width: 160px; */
  /* height: 56px; */
}

.leader-board-tail-circle-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #32c5b3;
  z-index: 1;
  border-radius: 20px;
  border-color: 1px solid red;
}

.leader-board-tail-circle-right::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.9px;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  z-index: 11;
  border-radius: 20px;
  border-color: 1px solid red;
}

.leader-board-tail-circle-left {
  position: relative;
  /* padding: 10px; */
  
  /* width: 160px; */
}

.leader-board-tail-circle-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #32c5b3;
  z-index: 1;
}

.leader-board-tail-circle-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.9px;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  z-index: 11;
  border-radius: 20px;
  border-color: 1px solid red;
}
.leader-board-card-div1 {
  margin-top: 2%;
}
.leader-board-card-div2 {
  margin-top: -1px;
}
.card-margin{
  margin-bottom: -10%;
}
@media screen and (max-width: 1150px) {
  .leader-board-tail-circle-left {
    position: relative;
    width: 140px;
  }
  .leader-board-tail-circle-right {
    position: relative;
    width: 140px;
  }
  .small-font {
    font-size: 10px;
  }
}
@media (min-width: 920px) and (max-width: 1024px) {
  .leader-board-card-div1 {
    margin-left: 11%;
    /* margin-top: -1% !important; */
  }

  .leader-board-card-div2 {
    margin-left: 15%;
    /* margin-top: -10% !important; */
  }

  .leader-board-card-text2 {
    margin-left: 2%;
    font-size: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1000000003px) {
  .leader-board-card-div1 {
    margin-left: 11%;
    /* margin-top: 4%; */
  }

  .leader-board-card-div2 {
    margin-left: 15%;
    /* margin-top: -8%; */
  }

  .leader-board-card-text2 {
    margin-left: 4%;
  }
}

@media (min-width: 1284px) and (max-width: 1484px) {
  .leader-board-card-div1 {
    margin-left: 11%;
    /* margin-top: 4%; */
  }

  .leader-board-card-div2 {
    margin-left: 15%;
    /* margin-top: -8%; */
  }

  .leader-board-card-text2 {
    margin-left: 2.5%;
  }

  .leader-board-inner-border::after {
    left: 38.5%;
    top: -3%;
    transform: translate(0%, 0%);
  }
}

@media (min-width: 1484px) and (max-width: 1684px) {
  .leader-board-card-div1 {
    margin-left: 11%;
    /* margin-top: 4%; */
  }

  .leader-board-card-div2 {
    margin-left: 14%;
    /* margin-top: -6%; */
  }

  .leader-board-card-text2 {
    margin-left: 2%;
  }

  .leader-board-inner-border::after {
    left: 39%;
    top: -3%;
    transform: translate(0%, 0%);
  }
}

@media (min-width: 1684px) and (max-width: 1884px) {
  .leader-board-card-div1 {
    margin-left: 11%;
    /* margin-top: 4%; */
  }

  .leader-board-card-div2 {
    margin-left: 14%;
    /* margin-top: -6%; */
  }

  .leader-board-card-text2 {
    margin-left: 2%;
  }

  .leader-board-inner-border::after {
    left: 41%;
    top: -3%;
    transform: translate(0%, 0%);
  }
}

@media (min-width: 1884px) and (max-width: 2084px) {
  .leader-board-card-div1 {
    margin-left: 11%;
    /* margin-top: 2%; */
  }

  .leader-board-card-div2 {
    margin-left: 13%;
    /* margin-top: -4%; */
  }

  .leader-board-card-text2 {
    margin-left: 2%;
  }

  .leader-board-inner-border::after {
    left: 41%;
    top: -3%;
    transform: translate(0%, 0%);
  }
}
@media (max-height: 1055px) {
  .leader-video-call {
    display: none;
  }
}
