@font-face {
  font-family: "Montserrat Bold";
  src: url("../src/assets/fonts//Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat ExtraBold";
  src: url("../src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../src/assets/fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("../src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../src/assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto ExtraBold";
  src: url("../src/assets/fonts/Roboto/Roboto-BoldCondensed.ttf");
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../src/assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 600;
}

$Roboto-Bold: "Roboto Bold";
$Roboto-ExtraBold: "Roboto ExtraBold";
$Roboto-Medium: "Roboto Medium";
$Montserrat-Bold: "Montserrat Bold";
$Montserrat-ExtraBold: "Montserrat ExtraBold";
$Montserrat-SemiBold: "Montserrat SemiBold";
$Roboto-Regular: "Roboto Regular";
$OpenSans-Bold: "Open Sans Bold";
$OpenSans-SemiBold: "Open Sans SemiBold";
$OpenSans-Regular: "Open Sans Regular";
$Poppins-Regular: "Poppins Regular";
$golden-color: #d6a15e;
$white-color: #fff;
$midgrey-color: #c5c5c5;
$black-color: #131921;
$darkgrey-color: #232f3d;
$darkgrey2-color: #828282;
$darkergrey-color: #4b4b4b;
$lightgrey-color: #e0e0e0;
$lightgrey2-color: #f2f2f2;
$lightgrey3-color: #f4f4f4f4;
$grey2-color: #4f4f4f;
$grey-color: #a6a6a6;
$grey3-color: #bdbdbd;
$grey4-color: #6c6c6c;
$light-turkish: #32c5b3;
$turkish-color: #30aeba;
$red-color: #e70012;
$dark-blue: #2f285a;
$font-size6: 6px;
$font-size7: 7px;
$font-size8: 8px;
$font-size10: 10px;
$font-size12: 12px;
$font-size13: 13px;
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size17: 17px;
$font-size18: 18px;
$font-size20: 20px;
$font-size22: 22px;
$font-size23: 23px;
$font-size30: 30px;
$font-size32: 32px;
$font-size24: 24px;
$font-size40: 40px;
$font-size48: 48px;





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
